<h1>Consultar Anotacion</h1>
<br/>
<form class="example-form" #createForm="ngForm" (ngSubmit)="onSubmitFind($event)">

  <table class="example-full-width" cellspacing="0">
    <tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-select placeholder="Proyecto" [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let proy of proyectos" [value]="proy.Nombre">
                {{ proy.Nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Anotacion" [formControl]="anotacion">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <div class="button-row">
            <button mat-raised-button color="primary">Buscar</button>
          </div>
        </td>
      </tr>
  </table>
</form>

<br/>


<div #divTabla class="matCustom">
  <div class="b-table-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
      </mat-form-field>
    </div>

    <mat-table #table (matSortChange)="sortData($event)" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="fechacreacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Creacion</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.FechaCreacion | date: "yyyy/MM/dd"}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="anotacion">
        <mat-header-cell *matHeaderCellDef> Anotacion</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Anotacion}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteAnotacion(element,$event)">
              Eliminar
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
    </mat-paginator>
  </div>