<h1>Crear Anotacion</h1>
<br/>
<form class="example-form" #createForm="ngForm" (ngSubmit)="onSubmitCreate($event)">

  <table class="example-full-width" cellspacing="0">
    <tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-select placeholder="Proyecto" [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let proy of proyectos" [value]="proy.Nombre">
                {{ proy.Nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" >
            <textarea matInput placeholder="Anotacion" [formControl]="anotacion"></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
            <div class="form-group">
                <label for="exampleInputFile">Archivo</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" (change)="handleFileInput($event.target.files)">
                <!-- <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
              </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="button-row">
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </td>
      </tr>
  </table>
</form>