<form class="example-form" #createForm="ngForm" (ngSubmit)="onSubmitCreate($event)">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <div class="form-group">
          <label for="exampleInputFile">Archivo</label>
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" (change)="handleFileInput($event.target.files)">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-select placeholder="Tarjeta" [(ngModel)]="selectedCard" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let card of cards" [value]="card.viewValue">
              {{ card.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <div class="button-row">
          <button mat-raised-button color="primary">Buscar</button>
        </div>
      </td>
    </tr>
  </table>
</form>