<h1>Crear Tipos Pago</h1>
<br/>
<form class="example-form">
  <!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="Company (disabled)" disabled value="Google">
  </mat-form-field> -->

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width"><input matInput placeholder="Valor"></mat-form-field></td>
  </tr>
  <tr>
      <td><mat-form-field class="example-full-width"><input matInput placeholder="Promedio"></mat-form-field></td>
      <td><mat-checkbox class="example-margin">Valor Fijo</mat-checkbox></td>
  </tr>
  <tr>
    <td>
        <div class="button-row">
          <button mat-raised-button color="primary">Primary</button>
        </div>
      </td>
  </tr>
</table>
</form>